body{
  background: lightyellow;
  text-align:center;
}
img{
  width:10%;
}
.card{
background: lightgreen;
width:20%;
border-radius: 5em;
}
#card{
  justify-content: space-around;
  display: flex;
  margin: 2%;
}
.card:hover{
  box-shadow: 0 8px 8px 0 pink;
}
@media only screen and (min-device-width:350px) and (max-device-width:460px) {
.card{
  width:100%;
}
}
